* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #172033;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background: white;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #667085;
    margin-bottom: 35px;
}

.button,
button {
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    cursor: pointer;
    background: #111827;
    color: white;
    text-decoration: none;
}

.form-container {
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select,
textarea {
    padding: 13px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    min-height: 100px;
}

.stats {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;
    margin: 30px 0;
}

.stats div {
    background: white;
    padding: 25px;
    border-radius: 12px;
}

.stats strong {
    display: block;
    font-size: 30px;
}

.stats span {
    color: #667085;
}

.application {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}

.alert {
    background: #e8f5e9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {

    .hero h1 {
        font-size: 38px;
    }

    .stats {
        grid-template-columns:
            repeat(2, 1fr);
    }

}