<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        JobHunter KE
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<nav>

    <a href="/">
        <strong>JobHunter KE</strong>
    </a>

    <div>

        {% if current_user.is_authenticated %}

            <a href="/dashboard">
                Dashboard
            </a>

            <a href="/logout">
                Logout
            </a>

        {% else %}

            <a href="/login">
                Login
            </a>

            <a href="/register">
                Register
            </a>

        {% endif %}

    </div>

</nav>


<main>

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="alert">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}


    {% block content %}
    {% endblock %}

</main>

</body>

</html>